#Example .env used for dev. Only for running with compose dev enviroment.
POSTGRES_DB=booksdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret-key

JWT_SECRET=replace-this-dev-secret-with-minimum-32-characters

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DOMAIN=localhost
SPRING_PROFILES_ACTIVE=dev