:80 {
    handle_path /storyweave/* {
        reverse_proxy storyweave-api:8000
    }

    handle {
        reverse_proxy springshelf:8080
    }

    encode gzip
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer
    }
    log {
        output stdout
    }
}
